#project{
  .add{
    text-align: center;
    background: cyan;
  }
  .editBox{
    display: flex;
    .icons{
      cursor: pointer;
      margin-left:5px;
      margin-right:5px;
    }
  }
  .testList{
    overflow-y: auto;
    max-height: 400px;
    .list-group-item{
      cursor:pointer;
      h5 {

        padding-top: 15px
      }
    }
  }
  .badge{
    position: absolute;
    right: 0;
  }
  .play{
    font-size: 30px;
  }
}

